* {
    font-family: consolas;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

body > * {
    padding-left: 100px;
    padding-right: 100px;
}

header {
    min-height: 75px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
