* {
    font-family: consolas;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

body > * {
    padding-left: 100px;
    padding-right: 100px;
}

header {
    min-height: 75px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    gap: 50px;
    background-color: #1F2937;
    align-items: center;
    /* border: 2px solid red; */
    padding-top: 10px;
    padding-bottom: 50px;
}

.hero-left > h1 {
    margin-top: 0;
    color: #F9FAF8;
}

.hero-left > p {
    color: #E5E7EB;
}

.hero-left > button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius:2px;
    border: none;
    padding: 5px 20px;
}

.hero-image {
    width:200px;
    height: auto;
    border: none;
}

.info-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-container > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 0;
}

.item-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.item-box {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    margin: 0 auto;
    border-radius: 10px;
}

.item-subtext {
    text-align: center;
    width: 150px;
}

footer {
    min-height: 75px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}
